apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    class: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      class: frontend
  template:
    metadata:
      labels:
        class: frontend
    spec:
      imagePullSecrets:
      - name: env-secret
      containers:
      - name: frontend-containers
        image: 759316875749.dkr.ecr.us-east-2.amazonaws.com/frontend/react:5.0
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_BACKEND_URL
          valueFrom:
            configMapKeyRef:
              name: app-cm
              key: REACT_APP_BACKEND_URL

