apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  labels:
    class: backend
spec:
  replicas: 2
  selector: 
    matchLabels:
      class: backend
  template:
    metadata:
      labels:
        class: backend
    spec:
      imagePullSecrets:
      - name: env-secret
      containers:
      - name: backend-containers
        image: 759316875749.dkr.ecr.us-east-2.amazonaws.com/backend/node
        env:
        - name: MONGO_CONN_STR
          valueFrom:
            configMapKeyRef:
              name: app-cm
              key: MONGO_CONN_STR
        - name: USE_DB_AUTH
          valueFrom:
            configMapKeyRef:
              name: app-cm
              key: USE_DB_AUTH
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-db-secret
              key: MONGO_USERNAME
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-db-secret
              key: MONGO_PASSWORD
        ports:
        - containerPort: 3500
        imagePullPolicy: Always 
               
            
        

        

      
